<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.prompt.mapper.TsgdPromptMapper">

    <resultMap type="TsgdPrompt" id="TsgdPromptResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="prompt"    column="prompt"    />
        <result property="clazz"    column="clazz"    />
        <result property="createName"    column="create_name"    />
        <result property="updateName"    column="update_name"    />
    </resultMap>

    <sql id="selectTsgdPromptVo">
        select id, name, prompt, clazz, create_name, update_name from tsgd_prompt
    </sql>

    <select id="selectTsgdPromptList" parameterType="TsgdPrompt" resultMap="TsgdPromptResult">
        <include refid="selectTsgdPromptVo"/>
        <where>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="prompt != null  and prompt != ''"> and prompt = #{prompt}</if>
            <if test="clazz != null "> and clazz = #{clazz}</if>
            <if test="createName != null "> and create_name like concat('%', #{createName}, '%')</if>
            <if test="updateName != null "> and update_name like concat('%', #{updateName}, '%')</if>
        </where>
    </select>

    <select id="selectTsgdPromptById" parameterType="Integer" resultMap="TsgdPromptResult">
        <include refid="selectTsgdPromptVo"/>
        where id = #{id}
    </select>

    <insert id="insertTsgdPrompt" parameterType="TsgdPrompt" useGeneratedKeys="true" keyProperty="id">
        insert into tsgd_prompt
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">name,</if>
            <if test="prompt != null and prompt != ''">prompt,</if>
            <if test="clazz != null">clazz,</if>
            <if test="createName != null">create_name,</if>
            <if test="updateName != null">update_name,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">#{name},</if>
            <if test="prompt != null and prompt != ''">#{prompt},</if>
            <if test="clazz != null">#{clazz},</if>
            <if test="createName != null">#{createName},</if>
            <if test="updateName != null">#{updateName},</if>
         </trim>
    </insert>

    <update id="updateTsgdPrompt" parameterType="TsgdPrompt">
        update tsgd_prompt
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="prompt != null and prompt != ''">prompt = #{prompt},</if>
            <if test="clazz != null">clazz = #{clazz},</if>
            <if test="createName != null">create_name = #{createName},</if>
            <if test="updateName != null">update_name = #{updateName},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTsgdPromptById" parameterType="Integer">
        delete from tsgd_prompt where id = #{id}
    </delete>

    <delete id="deleteTsgdPromptByIds" parameterType="String">
        delete from tsgd_prompt where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
