<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.qa.mapper.AsrResult1Mapper">

    <resultMap type="AsrResult1" id="AsrResult1Result">
        <result property="id"    column="id"    />
        <result property="audioPath"    column="audio_path"    />
        <result property="result"    column="result"    />
        <result property="cuda"    column="cuda"    />
        <result property="audioTime"    column="audio_time"    />
        <result property="execTime"    column="exec_time"    />
        <result property="createTime"    column="create_time"    />
        <result property="qaExtract"    column="qa_extract"    />
        <result property="qa1"    column="qa_1"    />
        <result property="qa2"    column="qa_2"    />
        <result property="qa3"    column="qa_3"    />
        <result property="qa4"    column="qa_4"    />
        <result property="qa5"    column="qa_5"    />
        <result property="qa6"    column="qa_6"    />
        <result property="qaMark"    column="qa_mark"    />
        <result property="updateTime"    column="update_time"    />
        <result property="isDelete"    column="is_delete"    />
        <result property="isMark"    column="is_mark"    />
        <result property="qaSum"    column="qa_sum"    />
        <result property="taskOwner"    column="task_owner"    />
        <result property="taskId"    column="task_id"    />
        <result property="clazzId"    column="clazz_id"    />
        <result property="labelUser"    column="label_user"    />
        <result property="verityUser"    column="verity_user"    />
        <result property="labelTime"    column="label_time"    />
        <result property="verityTime"    column="verity_time"    />
        <result property="isPass"    column="is_pass"    />
        <result property="verityFeedback"    column="verity_feedback"    />
        <result property="insertBatchId"    column="insert_batch_id"    />
    </resultMap>

    <sql id="selectAsrResult1Vo">
        select id, audio_path, result, cuda, audio_time, exec_time, create_time, qa_extract, qa_mark, qa_1,qa_2,qa_3,qa_4,qa_5,qa_6,qa_sum,update_time, is_delete,is_mark,task_owner,task_id,clazz_id,label_user,verity_user,label_time,verity_time,is_pass,verity_feedback,accuracy,verity_clazz_id from asr_result_1
    </sql>

    <select id="selectAsrResult1List" parameterType="AsrResult1" resultMap="AsrResult1Result">
        <include refid="selectAsrResult1Vo"/>
        <where>
            <if test="audioPath != null  and audioPath != ''"> and audio_path like concat('%',#{audioPath}, '%')</if>
            <if test="result != null  and result != ''"> and result like concat('%', #{result}, '%')</if>
            <if test="qaSum != null  and qaSum != ''"> and qa_sum like concat('%', #{qaSum}, '%')</if>
            <if test="qaExtract != null  and qaExtract != ''"> and qa_extract = #{qaExtract}</if>
            <if test="isDelete != null  and isDelete != ''"> and is_delete = #{isDelete}</if>
            <if test="isMark != null  and isMark != ''"> and is_mark = #{isMark}</if>
            <if test="cuda != null  and cuda != ''"> and cuda = #{cuda}</if>
            <if test="taskId != null  and taskId != ''"> and task_id = #{taskId}</if>
            <if test="isPass != null  and isPass != ''"> and is_pass = #{isPass}</if>
            <if test="clazzId != null  and clazzId != ''"> and (cuda = #{clazzId} or clazz_id = #{clazzId})</if>
            <if test="insertBatchId != null "> and insert_batch_id = #{insertBatchId}</if>
        </where>
    </select>

    <select id="selectAsrResult1ById" parameterType="Long" resultMap="AsrResult1Result">
        <include refid="selectAsrResult1Vo"/>
        where id = #{id}
    </select>

<!--    selectAsrResult1Count-->
    <select id="selectAsrResult1Count" parameterType="Long" resultType="LabelStatistics">
        SELECT count(1) labelNum,sum(CASE WHEN is_mark = '是' THEN 1 ELSE 0 END) labeledNum,sum(CASE WHEN is_pass is not null THEN 1 ELSE 0 END) verityNum,sum(CASE WHEN is_pass = 1 THEN 1 ELSE 0 END) passNum,avg(accuracy/LENGTH(qa_sum)) wordAccuracy,sum(CASE WHEN verity_user is not null THEN 1 ELSE 0 END) recallNum  FROM `asr_result_1`
        <where>
            <if test="audioPath != null  and audioPath != ''"> and audio_path like concat('%',#{audioPath}, '%')</if>
            <if test="result != null  and result != ''"> and result like concat('%', #{result}, '%')</if>
            <if test="qaSum != null  and qaSum != ''"> and qa_sum like concat('%', #{qaSum}, '%')</if>
            <if test="taskOwner != null  and taskOwner != ''"> and task_owner = #{taskOwner}</if>
            <if test="cuda != null  and cuda != ''"> and cuda = #{cuda}</if>
            <if test="isMark != null  and isMark != ''"> and is_mark = #{isMark}</if>
            <if test="isDelete != null  and isDelete != '' and isDelete !='否'.toString" > and is_delete = #{isDelete}</if>
            <if test="taskId != null"> and task_id = #{taskId}</if>
            <if test="isPass != null"> and is_pass = #{isPass}</if>
            <if test="labelUser != null"> and label_user = #{labelUser}</if>
            <if test="clazzId != null"> and (cuda = #{clazzId} or clazz_id = #{clazzId})</if>
        </where>
    </select>

    <select id="selectAsrResult1ListByOwner" parameterType="AsrResult1" resultMap="AsrResult1Result">
        <include refid="selectAsrResult1Vo"/>
        <where>
            <if test="audioPath != null  and audioPath != ''"> and audio_path like concat('%',#{audioPath}, '%')</if>
            <if test="result != null  and result != ''"> and result like concat('%', #{result}, '%')</if>
            <if test="qaSum != null  and qaSum != ''"> and qa_sum like concat('%', #{qaSum}, '%')</if>
            <if test="taskOwner != null  and taskOwner != ''"> and task_owner = #{taskOwner}</if>
            <if test="cuda != null  and cuda != ''"> and cuda = #{cuda}</if>
            <if test="isMark != null  and isMark != ''"> and is_mark = #{isMark}</if>
            <if test="isDelete != null  and isDelete != '' and isDelete !='否'.toString" > and is_delete = #{isDelete}</if>
            <if test="taskId != null  and taskId != ''"> and task_id = #{taskId}</if>
            <if test="isPass != null  and isPass != ''"> and is_pass = #{isPass}</if>
            <if test="clazzId != null  and clazzId != ''"> and (cuda = #{clazzId} or clazz_id = #{clazzId})</if>
            <if test="insertBatchId != null "> and insert_batch_id = #{insertBatchId}</if>
        </where>

    </select>
    <select id="selectAsrResult1ListByJson" parameterType="AsrResult1" resultMap="AsrResult1Result">
               select id, audio_path,  qa_1,qa_2,qa_3,qa_4,qa_5,task_owner from asr_result_1
        <where>
            <if test="audioPath != null  and audioPath != ''"> and audio_path like concat('%',#{audioPath}, '%')</if>
            <if test="result != null  and result != ''"> and result like concat('%', #{result}, '%')</if>
            <if test="qaSum != null  and qaSum != ''"> and qa_sum like concat('%', #{qaSum}, '%')</if>
            <if test="cuda != null  and cuda != ''"> and cuda = #{cuda}</if>
            <if test="taskId != null  and taskId != ''"> and task_id = #{taskId}</if>
            <if test="isPass != null  and isPass != ''"> and is_pass = #{isPass}</if>
            <if test="clazzId != null  and clazzId != ''"> and (cuda = #{clazzId} or clazz_id = #{clazzId})</if>
        </where>
        and is_delete="否" and is_mark="是"
    </select>

    <insert id="insertAsrResult1" parameterType="AsrResult1" useGeneratedKeys="true" keyProperty="id">
        insert into asr_result_1
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="audioPath != null">audio_path,</if>
            <if test="result != null">result,</if>
            <if test="cuda != null">cuda,</if>
            <if test="audioTime != null">audio_time,</if>
            <if test="execTime != null">exec_time,</if>
            <if test="createTime != null">create_time,</if>
            <if test="qaExtract != null">qa_extract,</if>
            <if test="qaMark != null">qa_mark,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="taskOwner != null">task_owner,</if>

         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="audioPath != null">#{audioPath},</if>
            <if test="result != null">#{result},</if>
            <if test="cuda != null">#{cuda},</if>
            <if test="audioTime != null">#{audioTime},</if>
            <if test="execTime != null">#{execTime},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="qaExtract != null">#{qaExtract},</if>
            <if test="qaMark != null">#{qaMark},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="taskOwner != null">#{taskOwner},</if>
         </trim>
    </insert>

    <update id="updateAsrResult1ByClazzId" parameterType="AsrResult1">
        update asr_result_1
        <trim prefix="SET" suffixOverrides=",">
<!--            <if test="audioPath != null">audio_path = #{audioPath},</if>-->
            <if test="result != null">result = #{result},</if>
            <if test="cuda != null">cuda = #{cuda},</if>
            <if test="audioTime != null">audio_time = #{audioTime},</if>
            <if test="execTime != null">exec_time = #{execTime},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="qa1 != null">qa_1 = #{qa1},</if>
            <if test="qa2 != null">qa_2 = #{qa2},</if>
            <if test="qa3 != null">qa_3 = #{qa3},</if>
            <if test="qa4 != null">qa_4 = #{qa4},</if>
            <if test="qa5 != null">qa_5 = #{qa5},</if>
            <if test="isMark != null">is_mark = #{isMark},</if>
            <if test="qaSum != null">qa_sum = #{qaSum},</if>

            <if test="qaMark != null">qa_mark = #{qaMark},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="taskOwner != null">task_owner = #{taskOwner},</if>
            <if test="taskId != null">task_id = #{taskId},</if>
            <if test="clazzId != null">clazz_id = #{clazzId},</if>
            <if test="labelUser != null">label_user = #{labelUser},</if>
        </trim>
        <where>
        <if test="clazzId != null">( clazz_id = #{clazzId}  or cuda = #{clazzId})</if>
            and task_owner is null
            and task_id is null
            and label_user is null
            and (is_delete = "否" or is_delete is null)
            and (is_mark is null or is_mark ="否")
        </where>
        limit
        <if test="updateNum != null">#{updateNum}</if>
    </update>

    <update id="updateAsrResult1VerityUser" parameterType="AsrResult1">
        update asr_result_1
        <trim prefix="SET" suffixOverrides=",">
            <if test="verityUser != null">verity_user = #{verityUser},</if>
        </trim>
        <where>
            <if test="taskId != null"> and task_id = #{taskId}</if>
            <if test="taskOwner != null"> and task_owner = #{taskOwner}</if>
            <if test="labelUser != null"> and label_user = #{labelUser}</if>
        </where>
        and verity_user is not null
    </update>

<!--    updateVoiceAnnotationByTaskAndLabelUser-->
    <update id="updateAsrResult1ByTaskAndLabelUser" parameterType="AsrResult1">
        update asr_result_1
        <trim prefix="SET" suffixOverrides=",">
<!--            <if test="audioPath != null">audio_path = #{audioPath},</if>-->
            <if test="result != null">result = #{result},</if>
            <if test="cuda != null">cuda = #{cuda},</if>
            <if test="audioTime != null">audio_time = #{audioTime},</if>
            <if test="execTime != null">exec_time = #{execTime},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="qa1 != null">qa_1 = #{qa1},</if>
            <if test="qa2 != null">qa_2 = #{qa2},</if>
            <if test="qa3 != null">qa_3 = #{qa3},</if>
            <if test="qa4 != null">qa_4 = #{qa4},</if>
            <if test="qa5 != null">qa_5 = #{qa5},</if>
            <if test="isMark != null">is_mark = #{isMark},</if>
            <if test="qaSum != null">qa_sum = #{qaSum},</if>

            <if test="qaMark != null">qa_mark = #{qaMark},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="taskOwner != null">task_owner = #{taskOwner},</if>
            <if test="clazzId != null">clazz_id = #{clazzId},</if>
            <if test="verityUser != null">verity_user = #{verityUser},</if>
        </trim>
        <where>
            <if test="taskId != null"> and task_id = #{taskId}</if>
            <if test="taskOwner != null"> and task_owner = #{taskOwner}</if>
            <if test="labelUser != null"> and label_user = #{labelUser}</if>
        </where>
        and verity_user is null
    </update>

    <update id="updateAsrResult1" parameterType="AsrResult1">
        update asr_result_1
        <trim prefix="SET" suffixOverrides=",">
<!--            <if test="audioPath != null and audioPath != ''">audio_path = #{audioPath},</if>-->
            <if test="result != null and result != ''">result = #{result},</if>
            <if test="cuda != null  and cuda != ''">cuda = #{cuda},</if>
            <if test="audioTime != null">audio_time = #{audioTime},</if>
            <if test="execTime != null">exec_time = #{execTime},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="qa1 != null ">qa_1 = #{qa1},</if>
            <if test="qa2 != null ">qa_2 = #{qa2},</if>
            <if test="qa3 != null ">qa_3 = #{qa3},</if>
            <if test="qa4 != null ">qa_4 = #{qa4},</if>
            <if test="qa5 != null ">qa_5 = #{qa5},</if>
            <if test="qa6 != null ">qa_6 = #{qa6},</if>
            <if test="isMark != null and isMark != ''">is_mark = #{isMark},</if>
            <if test="qaSum != null">qa_sum = #{qaSum},</if>
            <if test="qaMark != null and qaMark != ''">qa_mark = #{qaMark},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
            <if test="taskOwner != null and taskOwner != ''">task_owner = #{taskOwner},</if>
            <if test="taskId != null">task_id = #{taskId},</if>
            <if test="clazzId != null">clazz_id = #{clazzId},</if>
            <if test="labelUser != null">label_user = #{labelUser},</if>
            <if test="verityUser != null">verity_user = #{verityUser},</if>
            <if test="labelTime != null">label_time = #{labelTime},</if>
            <if test="verityTime != null">verity_time = #{verityTime},</if>
            <if test="isPass != null">is_pass = #{isPass},</if>
            <if test="verityFeedback != null">verity_feedback = #{verityFeedback},</if>
            <if test="accuracy != null">accuracy = #{accuracy},</if>
            <if test="verityClazzId != null">verity_clazz_id = #{verityClazzId},</if>

        </trim>
        where id = #{id}
    </update>

    <!--    addVerityUser-->
    <update id="addVerityUser" parameterType="com.ruoyi.task.domain.AddVerityUser">
        update asr_result_1
        <trim prefix="SET" suffixOverrides=",">
            <if test="verityUser != null">verity_user = #{verityUser}</if>
        </trim>
        <where>
            <if test="labelUser != null "> and label_user = #{labelUser}</if>
            <if test="taskId != null "> and task_id = #{taskId}</if>
        </where>
        and verity_user is null
        limit #{verityNum}
    </update>

    <!--    subtractVerity-->
    <update id="subtractVerity" parameterType="com.ruoyi.task.domain.AddVerityUser">
        update asr_result_1
        set
        verity_user = null
        <where>
            <if test="labelUser != null "> and label_user = #{labelUser}</if>
            <if test="taskId != null "> and task_id = #{taskId}</if>
        </where>
        and verity_user is not null
        limit #{verityNum}
    </update>

    <delete id="deleteAsrResult1ById" parameterType="Long">
        delete from asr_result_1 where id = #{id}
    </delete>

    <delete id="deleteAsrResult1ByIds" parameterType="String">
        update  asr_result_1 set is_delete="是" where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
