<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.task.mapper.TaskMapper">

    <resultMap type="Task" id="TaskResult">
        <result property="id"    column="id"    />
        <result property="name"    column="task_name"    />
        <result property="desc"    column="task_desc"    />
        <result property="clazz"    column="clazz"    />
        <result property="accuracy"    column="accuracy"    />
        <result property="recallRate"    column="recall_rate"    />
        <result property="bak1"    column="bak1"    />
        <result property="bak2"    column="bak2"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectTaskVo">
        select id, task_name, task_desc, clazz, accuracy, recall_rate, create_time, update_time from task_allocation
    </sql>

    <select id="selectTaskList" parameterType="Task" resultMap="TaskResult">
        <include refid="selectTaskVo"/>
        <where>
            <if test="name != null  and name != ''"> and task_name like concat('%', #{name}, '%')</if>
            <if test="clazz != null "> and clazz = #{clazz}</if>
        </where>
    </select>

    <select id="selectTaskById" parameterType="Long" resultMap="TaskResult">
        <include refid="selectTaskVo"/>
        where id = #{id}
    </select>

    <insert id="insertTask" parameterType="Task" useGeneratedKeys="true" keyProperty="id">
        insert into task_allocation
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">name,</if>
            <if test="desc != null">desc,</if>
            <if test="clazz != null">clazz,</if>
            <if test="accuracy != null">accuracy,</if>
            <if test="recallRate != null">recall_rate,</if>
            <if test="bak1 != null">bak1,</if>
            <if test="bak2 != null">bak2,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">#{name},</if>
            <if test="desc != null">#{desc},</if>
            <if test="clazz != null">#{clazz},</if>
            <if test="accuracy != null">#{accuracy},</if>
            <if test="recallRate != null">#{recallRate},</if>
            <if test="bak1 != null">#{bak1},</if>
            <if test="bak2 != null">#{bak2},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateTask" parameterType="Task">
        update task_allocation
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="desc != null">desc = #{desc},</if>
            <if test="clazz != null">clazz = #{clazz},</if>
            <if test="accuracy != null">accuracy = #{accuracy},</if>
            <if test="recallRate != null">recall_rate = #{recallRate},</if>
            <if test="bak1 != null">bak1 = #{bak1},</if>
            <if test="bak2 != null">bak2 = #{bak2},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTaskById" parameterType="Long">
        delete from task_allocation where id = #{id}
    </delete>

    <delete id="deleteTaskByIds" parameterType="String">
        delete from task_allocation where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
