<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.task.mapper.TaskMapper">

    <resultMap type="Task" id="TaskResult">
        <result property="id"    column="id"    />
        <result property="name"    column="task_name"    />
        <result property="desc"    column="task_desc"    />
        <result property="clazz"    column="clazz"    />
        <result property="recallNum"    column="recall_num"    />
        <result property="allocationTotal"    column="allocation_total"    />
        <result property="wordAccuracy"    column="word_accuracy"    />
        <result property="numberAccuracy"    column="number_accuracy"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="responsiblePersonId"    column="responsible_person_id"    />
    </resultMap>

    <sql id="selectTaskVo">
        select id, task_name, task_desc, clazz, number_accuracy, recall_num,allocation_total, create_time, update_time,word_accuracy,responsible_person_id from task_allocation
    </sql>

    <select id="selectTaskList" parameterType="Task" resultMap="TaskResult">
        <include refid="selectTaskVo"/>
        <where>
            <if test="name != null  and name != ''"> and task_name like concat('%', #{name}, '%')</if>
            <if test="clazz != null "> and clazz = #{clazz}</if>
            <if test="responsiblePersonId != null "> and responsible_person_id = #{responsiblePersonId}</if>
        </where>
    </select>

    <select id="selectTaskById" parameterType="Long" resultMap="TaskResult">
        <include refid="selectTaskVo"/>
        where id = #{id}
    </select>

    <insert id="insertTask" parameterType="Task" useGeneratedKeys="true" keyProperty="id">
        insert into task_allocation
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">task_name,</if>
            <if test="desc != null">task_desc,</if>
            <if test="clazz != null">clazz,</if>
            <if test="recallNum != null">recall_num,</if>
            <if test="allocationTotal != null">allocation_total,</if>
            <if test="wordAccuracy != null">word_accuracy,</if>
            <if test="numberAccuracy != null">number_accuracy,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="responsiblePersonId != null">responsible_person_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">#{name},</if>
            <if test="desc != null">#{desc},</if>
            <if test="clazz != null">#{clazz},</if>
            <if test="recallNum != null">#{recallNum},</if>
            <if test="allocationTotal != null">#{allocationTotal},</if>
            <if test="wordAccuracy != null">#{wordAccuracy},</if>
            <if test="numberAccuracy != null">#{numberAccuracy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="responsiblePersonId != null">#{responsiblePersonId},</if>
         </trim>
    </insert>

    <update id="updateTask" parameterType="Task">
        update task_allocation
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">task_name = #{name},</if>
            <if test="desc != null">task_desc = #{desc},</if>
            <if test="clazz != null">clazz = #{clazz},</if>
            <if test="numberAccuracy != null">number_accuracy = #{numberAccuracy},</if>
            <if test="recallNum != null">recall_num = #{recallNum},</if>
            <if test="allocationTotal != null">allocation_total = #{allocationTotal},</if>
            <if test="wordAccuracy != null">word_accuracy = #{wordAccuracy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTaskById" parameterType="Long">
        delete from task_allocation where id = #{id}
    </delete>

    <delete id="deleteTaskByIds" parameterType="String">
        delete from task_allocation where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
