<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.gugong.qa.mapper.QaRelationMapper">

    <resultMap type="QaRelation" id="QaRelationResult">
        <result property="id"    column="id"    />
        <result property="asrResultId"    column="asr_result_id"    />
        <result property="qa1"    column="qa_1"    />
        <result property="qa2"    column="qa_2"    />
        <result property="qa3"    column="qa_3"    />
        <result property="qa4"    column="qa_4"    />
        <result property="qa5"    column="qa_5"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>

    <sql id="selectQaRelationVo">
        select id, asr_result_id, qa_1, qa_2, qa_3, qa_4, qa_5, create_time from qa_relation
    </sql>

    <select id="selectQaRelationList" parameterType="QaRelation" resultMap="QaRelationResult">
        <include refid="selectQaRelationVo"/>
        <where>
            <if test="asrResultId != null "> and asr_result_id = #{asrResultId}</if>
        </where>
    </select>

    <select id="selectQaRelationById" parameterType="Long" resultMap="QaRelationResult">
        <include refid="selectQaRelationVo"/>
        where id = #{id}
    </select>
    <select id="selectQaRelationByASRId" parameterType="Long" resultMap="QaRelationResult">
        <include refid="selectQaRelationVo"/>
        where asr_result_id = #{asrResultId}
    </select>

    <insert id="insertQaRelation" parameterType="QaRelation" useGeneratedKeys="true" keyProperty="id">
        insert into qa_relation
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="asrResultId != null">asr_result_id,</if>
            <if test="qa1 != null">qa_1,</if>
            <if test="qa2 != null">qa_2,</if>
            <if test="qa3 != null">qa_3,</if>
            <if test="qa4 != null">qa_4,</if>
            <if test="qa5 != null">qa_5,</if>
            <if test="createTime != null">create_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="asrResultId != null">#{asrResultId},</if>
            <if test="qa1 != null">#{qa1},</if>
            <if test="qa2 != null">#{qa2},</if>
            <if test="qa3 != null">#{qa3},</if>
            <if test="qa4 != null">#{qa4},</if>
            <if test="qa5 != null">#{qa5},</if>
            <if test="createTime != null">#{createTime},</if>
        </trim>
    </insert>

    <update id="updateQaRelation" parameterType="QaRelation">
        update qa_relation
        <trim prefix="SET" suffixOverrides=",">
            <if test="asrResultId != null">asr_result_id = #{asrResultId},</if>
            <if test="qa1 != null">qa_1 = #{qa1},</if>
            <if test="qa2 != null">qa_2 = #{qa2},</if>
            <if test="qa3 != null">qa_3 = #{qa3},</if>
            <if test="qa4 != null">qa_4 = #{qa4},</if>
            <if test="qa5 != null">qa_5 = #{qa5},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </trim>
        where asr_result_id = #{asrResultId}
    </update>

    <delete id="deleteQaRelationById" parameterType="Long">
        delete from qa_relation where id = #{id}
    </delete>

    <delete id="deleteQaRelationByIds" parameterType="String">
        delete from qa_relation where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
